.boxBorder {
  border: 1px solid #c3b8af;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  background-color: #eeefe5;
  top: -100px;
  position: relative;
  box-shadow: 1px 1px 2px #632206;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.centered-column {
  margin-bottom: -80px;
}

.column {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.skill-icon {
  height: auto;
  width: 50px;
}

.banner {
  width: 100%;
}

.title {
  color: #392c1f;
  font-size: 6vw;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
}

.subtitle {
  color: #392c1f;
  font-size: 2vw;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
}

body {
  background-color: #82321f;
  margin: 0 auto;
}

html,body {
  -webkit-text-size-adjust:none;
  font-size: 100%;
}

h2 {
  color: #7f3110;
  font-size: 1.6em;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
}

h3 {
  color: #323231;
  font-size: 1.4em;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
}

p {
  color: #333333;
  font-size: 1.4em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100;
  line-height: 1.6;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.2;
}

.centered-column {
  padding: 50px 50px 50px 50px;
}


@media (min-width: 1000px) {
  .boxBorder div {
    width: 25%;
    height: 30%;
  }
}

@media (max-width: 999px) {
  .boxBorder div {
    width: 100%;
    height: 10%;
  }
  .column.aTop {
    order: 0;
  }
  .column.aBottom {
    order: 1;
    border-bottom: 1px solid #c3b8af;
    padding-bottom: 50px;
  }
  .column.bTop {
    padding-top: 50px;
    order: 2;
  }
  .column.bBottom {
    order: 3;
    border-bottom: 1px solid #c3b8af;
    padding-bottom: 50px;
  }
  .column.cTop {
    padding-top: 50px;
    order: 4;
  }
  .column.cBottom {
    order: 5;
  }
  .title {
    font-size: 8vw;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-15%, -50%);
    line-height: 0.2;
  }
}

.projects {
  margin: 0 auto;
}

.project {
  width: calc(100%);
  height: calc((100vw) * 0.301);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.project div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectImage {
  width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #1105006e;
}

.projectDetails {
  max-width: 70%;
  min-width: 70%;
  line-height: 0;
}

/*
 * Let project descriptions take up the full width of their container
 */

@media (max-width: 1575px) {
  .projectDetails {
    max-width: 90%;
    min-width: 90%;
  }
}

/*
 * Extend the height of projects - sadly it breaks those nicely placed borders
 */

@media (max-width: 1275px) {
  .project {
    height: calc((100vw) * 0.4);
  }
  .projectDetails {
    font-size: 0.9em;
  }
}

/*
 * Stack projects vertically instead of staggered layout
 */

@media (max-width: 999px) {
  .project {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .project div {
    width: auto;
  }
  .projectImage {
    margin-bottom: 50px;
  }
  .projectDetails {
    max-width: 70%;
    min-width: 70%;
  }
  /* Swap positions of inverted staggered flexbox elements when in column view */
  .invertedStackA {
    order: 1;
  }
  .invertedStackB {
    order: 0;
  }
}

.projectButton {
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  border-radius: 40px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.projectButton:active {
  transform: scale(0.95);
}

.aThemeProject {
  background-color: #727f6a;
}

.aThemeHeader {
  color: #34412c;
}

.aThemeButton {
  color: #34412c;
  background-color: #9caf8f;
}

.aThemeButton:hover {
  background-color: #cbe4ba;
}

.bThemeProject {
  background-color: #6c7d7f;
}

.bThemeHeader {
  color: #1d3a3d;
}

.bThemeButton {
  color: #1d3a3d;
  background-color: #8caaad;
}

.bThemeButton:hover {
  background-color: #b1d8db;
}

.cThemeProject {
  background-color: #a27c6d;
}

.cThemeHeader {
  color: #4b2d22;
}

.cThemeButton {
  color: #4b2d22;
  background-color: #dda894;
}

.cThemeButton:hover {
  background-color: #ecd3c9;
}